

/* page background color 
body {background-color: #343a40;}
*/

/*
.display-4 {
    color: darkgray;
}
.lead {
    color: darkgray;
}


.list-group .list-group-item {
    background-color: #343a40; color: darkgray; border: 1px solid gainsboro;
}

.card .card-body {
    background-color: #343a40; color: darkgray;
}
.card {
    border: 1px solid gainsboro;
}
*/

a {
  color: darkorange;
}

a:hover {
  color: darkorange;
}


.form-control {
    border-color: darkorange;
}
.form-control:active {
    border-color: darkorange;
}
.form-control:focus {
  border-color: #ff8c00;
  box-shadow: inset 0 1px 1px rgba(255, 140, 0, 0.1), 0 0 8px rgba(255, 140, 0, 0.75);
}


/* change the color of active or hovered links in navbar */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: darkorange;
    color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link {
    color: darkorange;
}


/* for navbar links to stretch across entire width */
.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}


.jumbotron {
     padding-top: 25px;
     padding-bottom: 25px;
}



/* ====== desktop view navbar dropdown on hover ======= 
@media all and (min-width: 992px) {
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
*/


/* spacing between navbar links 
.navbar-nav .nav-link {
    margin-right: 15px;
    margin-left: 15px;
}
*/
/*
body {background-color: black;}
*/

/* Datatables styling 
.table.dataTable {font-size: 12px;}
*/